body {
    font-family: 'Fredoka', sans-serif;
    background-color: #cf6e1306;
  }
  
  .hero {
    background-image: url('images/title-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 1rem;
    text-align: center;
    color: white;
  }
  
  .hero h1 {
    color: #e0dddd;
    font-size: 93px;
    font-weight: bolder;
    text-shadow: 7.5px 4px 0 black;
    font-family: 'Walter Turnercoat', cursive;
  }
  
  h2 {
    color: #000000;.spaced-section {
        margin-bottom: 5rem;
      }
      
    font-weight:1000;
    font-size: 45px;
  }
  
  h1, h2, h3, h4, h6 {
    font-family: 'Questrial', sans-serif;
  }
  
  .case-img {
    max-height: 200px;
    object-fit: cover;
  }
  
  .btn-outline-dark {
    background-color: #d8dfde;
    color: #000000;
    border-color: #000000;
    border-width: 1.5px;
  }
  
  .btn-outline-secondary.disabled {
    color: #6c757d;
    border-color: #6c757d;
    background-color: transparent;
  }
  
  .card-title {
    color: #000000;
    font-weight: bold;
  }
  
  .card {
    border: 1.5px solid #6c757d;
  }
  
  section.container.py-4 p {
    font-size: 1.2rem;
    color: rgb(49, 49, 49);
  }

  .container {
    max-width: 1300px !important;
  }
  
  